<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Hola <%= @applicant.first_name %> <%= @applicant.last_name %></p>
      <br>
      
    <% if @event.review_status == 'event_approved' -%>
      <p>Su sponsor, <%= @sponsor.first_name %> <%= @sponsor.last_name %>, reviso su evento "<%= @event.name %>" y aprovo su evento. El evento fue publicado a la Cartelera de Innovación.</p>
      <br>

      <p>Puede entrar a <a>http://www.cartelerai.com</a> y ver su evento.</p>
      <br>
    <% elsif @event.review_status == 'sponsor_review' -%>
      <p>Su sponsor, <%= @sponsor.first_name %> <%= @sponsor.last_name %>, reviso su evento "<%= @event.name %>" y rechazo su evento.</p>
      <br>
      
      <p>Puede entrar a <a>http://cartelerai-admin.herokuapp.com/</a> con sus credenciales para revisar los comentarios de su sponsor respecto a su evento y hacer los cambios necesarios para una reevaluación del mismo.</p>
      <br>
    <% end -%>

      <p>Gracias,</p>
      <p>Cartelera de Innovación</p>
  </body>
</html>