<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>Hola <%= @sponsor.first_name %> <%= @sponsor.last_name %></p>
      <br>
      
      <p>Uno de sus solicitantes, <%= @applicant.first_name %> <%= @applicant.last_name %>, hizo cambios al evento "<%= @event.name %>" con los cambios solicitados por usted. Se espera su revisión para su aprovación o rechazo.</p>
      <br>
      
      <p>Puede entrar a <a>http://cartelerai-admin.herokuapp.com/</a> con sus credenciales para revisar el evento nuevamente</p>
      <br>

      <p>Gracias,</p>
      <p>Cartelera de Innovación</p>
  </body>
</html>